**/episodesCovers
**/showCovers
**/DogMinderFireBase
**/MaxRepProgress
**/AdrianIraizos_BigBangUIKit
**/AdrianIraizos_Anime_SwiftUI
**/PodcastProximaParadaSwift
**/DogMinder
*DogMinder.zip
*busCity.png
*MaxRep

